


span{
	margin: 5px;
	width: 140px;

}
.span-1{
	/*display: flex;*/
}


/*.logo{
	height: 20px;
	width: 20px;
}*/
i{
	color: orange;
}
.div{
	border: 1.5px solid grey;
	padding: 10px;
	border-radius: 3px;
}
.card-body{
	padding: 0 !important;
	margin: 0;

}
.card{
	border:none !important;
}
.p-3{
	padding: 0 !important;
}

p{
	font-size: 13px;
	/*margin: 2px;*/
	margin: 0;

}
.para{
	font-size: 12px;
	font-weight: bold;
	/*margin-bottom: 2px;*/
	margin: 0;

	color: black;
}
.hard{
	/*font-size: 16px;*/
	font-weight: bold;
	margin: 0;
	/*margin-bottom: 0px;*/
	color: black;
}
.div-cover{
	border:1.5px solid orange;
	border-radius: 3px;
	background-color: #fef8f2;
	padding: 10px;
}
.grey{
	color: grey;
	font-weight: bold;
	/*margin-bottom: 2px;*/
	margin: 0;
}
.red{
	color: #b53322;
	font-weight: bold;
	/*margin-bottom: 0;*/
	margin: 0;

}
.red-color{
	color: #b53322;
	font-weight: bold;
}
.color-blue{
	color: #0b66c2;
	/*margin-bottom: 2px;	*/
	margin: 0;

	font-weight: bold;
}
span{
	color: grey;
}
.free{
	color: #b53322; 
}


.main{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;



}
